<h1>Kurslarımız</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">İlkokul Kursları</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Matematik Yarışmalarına Hazırlık</li>
                        <li class="list-group-item">Zeka Oyunları</li>
                        <li class="list-group-item">Kriptoloji</li>
                        <li class="list-group-item">Özel Okul Sınavlarına Hazırlık</li>
                        <li class="list-group-item">Kodlama</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Ortaokul Kursları</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Matematik Olimpiyatlarına Hazırlık</li>
                        <li class="list-group-item">Bilgisayar Olimpiyatlarına Hazırlık</li>
                        <li class="list-group-item">Zeka Oyunları</li>
                        <li class="list-group-item">Kriptoloji</li>
                        <li class="list-group-item">LGS Hazırlık ve Okula Destek</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
