<div>
    <div class="row">
             
              <div  class="col-sm-12">
            <div  class="card mb-6" >
                <div class="row">
                    <div  class="col-sm-4">
                        <img src="assets/img/kanguru.jpg" class="card-img-top" height="300px">
                    </div>
                    <div class="card-body col-sm-8" >
                        <div class="container mt-5">
                            <h2>Yarışmaya kimler katılabilir?</h2>
                            <p>1-12. sınıf öğrencileri</p>
                             <h2>Yarışma Takvimi</h2>
                            <ul>
                                <li>Mart 2024 - 1. Aşama Sınavı</li>
                                <li>Mayıs 2024 - Final Sınavı</li>
                            </ul>
                        </div>
                      </div>
                <div>
                    <div class="card-body">
                        <div class="d-grid gap-2">
                        </div>
                      </div>
                
            </div>
        </div>
    </div>
    <div  class="col-sm-12">
        <div  class="card mb-6" >
            <div class="row">
                <div  class="col-sm-4">
                    <img src="assets/img/kanguru.jpg" class="card-img-top" height="300px">
                </div>
                <div class="card-body col-sm-8" >
                    <div class="container mt-5">
                        <h2>Yarışmaya kimler katılabilir?</h2>
                        <p>1-12. sınıf öğrencileri</p>
                
                        <h2>Yarışma Takvimi</h2>
                        <ul>
                            <li>Mart 2024 - 1. Aşama Sınavı</li>
                            <li>Mayıs 2024 - Final Sınavı</li>
                        </ul>
                    </div>
                  </div>
            <div>
            
        </div>
    </div>
</div>
</div>

