<div>
    <div class="row">
             
        <div  class="col-sm-12">
            <div  class="card mb-6" >
                <div class="row">
                    <div  class="col-sm-4">
                        <img src="assets/img/exams/yarisma1.jpg" class="card-img-top">
                    </div>
                    <div class="card-body col-sm-8" >
                        <div class="container mt-5">
                            <h2>TÜBİTAK Ulusal Bilim Olimpiyatları</h2>
                            <p>TÜBİTAK 2202 - Bilim Olimpiyatları programı kapsamında ortaokul ve lise öğrencilerinin
                                temel bilimler ve bilgisayar bilimleri alanlarına ilgilerini artırmak, çalışmalarını yönlendirmek
                                ve bu alanlarda özel eğitim olanakları sağlamak yolu ile gelişmelerine katkıda bulunmak
                                amacıyla her yıl Astronomi-Astrofizik , Matematik, Fizik, Kimya, Biyoloji, Bilgisayar,
                                Ortaokul Matematik ve Ortaokul Bilgisayar dallarında Bilim Olimpiyatları’nı
                                düzenlemektedir.</p>
                                <p>Bilim olimpiyatlarında başarılı olan öğrenciler Astronomi-Astrofizik, Bilgisayar, Biyoloji,
                                    Fizik, Kimya, Matematik, Ortaokul Matematik ve Ortaokul Bilgisayar dallarında seçilmekte,
                                    eğitilmekte, her yıl düzenlenen Bölgesel ve Uluslararası olimpiyatlarda ülkemizi temsil
                                    etmektedirler.</p>
                                    <p><a href="https://bilimolimpiyatlari.tubitak.gov.tr/tr/" target="_blank">https://bilimolimpiyatlari.tubitak.gov.tr/tr/</a></p>
                        </div>
                      </div>
                <div>
                    <div class="card-body">
                        <div class="d-grid gap-2">
                        </div>
                      </div>
                
            </div>
        </div>
    </div>

    <div  class="col-sm-12">
        <div  class="card mb-6" >
            <div class="row">
                <div  class="col-sm-4">
                    <img src="assets/img/exams/yarisma2.jpg" class="card-img-top">
                </div>
                <div class="card-body col-sm-8" >
                    <div class="container mt-5">
                        <h2>İstanbul Bilim Olimpiyatları Yarışması</h2>
                        <p>Yarışmanın amacı temel bilimler alanında yetenekli öğrencileri keşfederek, bu öğrencilerin temel bilimler alanında derinlemesine ve nitelikli çalışmalar yapmalarına yardımcı olmak, temel bilimleri kullanarak 21.yüzyıl teknolojileri üretebilecek, ileride temel bilimleri kariyer olarak seçmek isteyecek öğrencileri desteklemektir.
                        </p>
                            <p>Ortaokul öğrencileri Matematik ve Bilgisayar alanlarında, lise öğrencileri ise Matematik, Bilgisayar, Fizik, Kimya ve Biyoloji alanlarında yarışmaktadır.
                            </p>
                                <p><a href="https://istmem.meb.gov.tr/isbo/" target="_blank">https://istmem.meb.gov.tr/isbo/</a></p>
                    </div>
                  </div>
            <div>
            
        </div>
    </div>

    <div  class="col-sm-12">
        <div  class="card mb-6" >
            <div class="row">
                <div  class="col-sm-4">
                    <img src="assets/img/exams/yarisma3.jpg" class="card-img-top">
                </div>
                <div class="card-body col-sm-8" >
                    <div class="container mt-5">
                        <h2>Türk Zeka Vakfı Türkiye Okullar Arası Zeka Oyunları Şampiyonası</h2>
                        <p>Yarışmanın amacı öğrencilerin düşünme, karar verme ve problem çözme becerilerini geliştirmek. Yardımlaşma ve takım çalışması alışkanlıkları kazandırmaktır.
                        </p>
                            <p>Yarışmaya ilkokul,ortaokul ve liseler katılabilmektedir. Bireysel başvuru da yapılabiliyor.
                            </p>
                                <p><a href="https://sampiyona.tzv.org.tr/" target="_blank">https://sampiyona.tzv.org.tr/</a></p>
                    </div>
                  </div>
            <div>
            
        </div>
    </div>


    <div  class="col-sm-12">
        <div  class="card mb-6" >
            <div class="row">
                <div  class="col-sm-4">
                    <img src="assets/img/exams/yarisma4.jpg" class="card-img-top">
                </div>
                <div class="card-body col-sm-8" >
                    <div class="container mt-5">
                        <h2>Kanguru Matematik Yarışması</h2>
                        <p>Kanguru Matematik Sınavı, Fransa merkezli "Kangourou Sans Frontieres" Derneğine bağlı 80'den fazla ülkede uygulanan bir matematik yarışmasıdır. Özellikle yaratıcı ve günlük hayattan seçilen problemler ile öğrencilerin matematiğe olan ilgisinin arttırılması ve matematik becerilerinin geliştirilmesi hedeflenmektedir.
                        </p>
                            <p>Yarışmaya ilkokul,ortaokul ve liseler katılabilmektedir. Bireysel başvuru da yapılabiliyor.
                                 </p>
                                <p><a href="https://www.kanguru-tr.com/" target="_blank">https://www.kanguru-tr.com/</a></p>
                    </div>
                  </div>
            <div>
            
        </div>
    </div>

    <div  class="col-sm-12">
        <div  class="card mb-6" >
            <div class="row">
                <div  class="col-sm-4">
                    <img src="assets/img/exams/yarisma5.jpg" class="card-img-top">
                </div>
                <div class="card-body col-sm-8" >
                    <div class="container mt-5">
                        <h2>Türkiye Matematik Yarışması</h2>
                        <p>Türkiye Matematik Yarışması (TMY); üniversite öğretim üyeleri ve matematik öğretmenlerinden oluşan organizasyondur. Yarışma; Türkiye Matematik Yarışması Bilim Kurulunun koordinatörlüğünde 2019-2020 Eğitim Öğretim yılından bu yana ülkemizde uygulanmakta olup; ilkokul, ortaokul ve lise öğrencilerine yöneliktir. Öğrencilerin matematiksel becerilerinin geliştirilmesi hedeflenen bu yarışma;
                        </p>
                            <p>Yarışma; İlkokul (3. ve 4.sınıflar) , Ortaokul (5.,6.,7.ve 8.sınıflar) ve  Lise (9., 10. ve 11.sınıflar) öğrencilerine yöneliktir (Lise Hazırlık sınıfları 9.sınıf olarak başvurabilirler).
                            </p>
                                <p><a href="https://turkiyematematikyarismasi.com/" target="_blank">https://turkiyematematikyarismasi.com/</a></p>
                    </div>
                  </div>
            <div>
            
        </div>
    </div>

    <div  class="col-sm-12">
        <div  class="card mb-6" >
            <div class="row">
                <div  class="col-sm-4">
                    <img src="assets/img/exams/yarisma6.jpg" class="card-img-top">
                </div>
                <div class="card-body col-sm-8" >
                    <div class="container mt-5">
                        <h2>Tales Matematik Yarışması</h2>
                        <p>Tales Matematik Yarışması, Türkiye’de öğrenim gören öğrencilerin matematiğe yönelik olumlu tutum geliştirmesini sağlamak ve ulusal düzeyde matematiksel okuryazarlık becerilerini geliştirmesini sağlamak amacıyla her yıl mart ve mayıs aylarında 2 aşamalı olarak uygulanmaktadır.
                        </p>
                            <p>Yarışmaya 3. Sınıftan 10. Sınıfa kadar olan her öğrenci başvuru yapabilmektedir.
                            </p>
                                <p><a href="https://yarisma.talesmatematikmuzesi.com/" target="_blank">https://yarisma.talesmatematikmuzesi.com/</a></p>
                    </div>
                  </div>
            <div>
            
        </div>
    </div>

    <div  class="col-sm-12">
        <div  class="card mb-6" >
            <div class="row">
                <div  class="col-sm-4">
                    <img src="assets/img/exams/yarisma7.jpg" class="card-img-top">
                </div>
                <div class="card-body col-sm-8" >
                    <div class="container mt-5">
                        <h2>Akıl Ve Zeka Oyunları Federasyonu Oyuncu Beyinler Yarışması</h2>
                        <p>Yarışmanın amacı, yarışmacıların zekâ gelişimine katkıda bulunmak, analitik düşünme teknikleri ile tanışmalarını ve bu becerilerini geliştirmelerini sağlamak, öğrencilere seçmeli zeka oyunları dersinde öğrendiklerini tekrar etme imkânı sunmaktır.
                        </p>
                            <p>Turnuva 3 kategoriden oluşacaktır: İlkokullar 1, 2, 3 ve 4. sınıflar,
                                Ortaokullar 5, 6, 7 ve 8. sınıflar,
                                Açık Kategori:Yaş sınırı olmaksızın katılmak isteyen herkes.
                                
                            </p>
                                <p><a href="https://tr.tazof.org.tr/" target="_blank">https://tr.tazof.org.tr/</a></p>
                    </div>
                  </div>
            <div>
            
        </div>
    </div>

    <div  class="col-sm-12">
        <div  class="card mb-6" >
            <div class="row">
                <div  class="col-sm-4">
                    <img src="assets/img/exams/yarisma8.jpg" class="card-img-top">
                </div>
                <div class="card-body col-sm-8" >
                    <div class="container mt-5">
                        <h2>Uluslararası Caribou Matematik Yarışması
                        </h2>
                        <p>Caribou Matematik öğrencilerin severek matematik yapmalarını ve problem çözmeye yönelik keyifli vakit geçirmelerini amaçlayan, Kanada merkezli bir organizasyondur. Uluslararası Caribou Matematik Yarışması ise dünya çapında online olarak düzenlenen bir matematik yarışmasıdır.
                        </p>
                            <p>Yılda 6 defa, 1, 2, 3-4, 5-6, 7-8, 9-10, 11-12 kategorilerinde düzenlenen yarışma, İngilizce, Fransızca, Çince ve Farsça gibi dillerde yürütülür. Türkiye’ de yarışmaya katılmak isteyen okullar ve öğrenciler yarışmaya bu dillerden uygun olanı seçerek katılırlar.
  
                            </p>
                                <p><a href="https://cariboumatematik.com/" target="_blank">https://cariboumatematik.com/</a></p>
                    </div>
                  </div>
            <div>
            
        </div>
    </div>

    <div  class="col-sm-12">
        <div  class="card mb-6" >
            <div class="row">
                <div  class="col-sm-4">
                    <img src="assets/img/exams/yarisma9.jpg" class="card-img-top">
                </div>
                <div class="card-body col-sm-8" >
                    <div class="container mt-5">
                        <h2>Crypto Math Matematiksel Şifreleme Yarışması
                        </h2>
                        <p>Her yıl, yılda iki defa düzenlenen CryptoMath Şifrelerle Matematik Yarışması, ana karakterleri Senem ve Berke olan iki maceraperestin heyecan dolu hikayelerini konu alıyor.

                            İlk bölümü Pilot Bölüm, sonraki 6 bölümü puan kazanılan ve puan kazanılmayan Final Bölümü’nden oluşan 8 Bölümlük sezonlarda takımlar, 7 hafta boyunca topladığı puanlarla birbirleriyle yarışıyor.
                            
                            Her bölümün sonunda yer alan ve kahramanlarımızın yaşadıkları bir çıkmazdan kurtulmaları için gereken kriptoları yazarak puanlar toplanıyor ve hem hızlı cevap vermenin, hem de tek cevap verme hakkı olduğu için doğru cevap vermenin önemli olduğu bu yarışmada sezon sonunda şampiyon takımlar belirleniyor.
                            </p>
                            <p>Ortaokul ve Lise Kategorisi olmak üzere takımlar, iki farklı kategoride yarışabiliyorlar.

                                Her kategoride ilk 10’a giren takımlar ve bireysel yarışmacılar ödüllendiriliyor.
                                
                            </p>
                                <p><a href="https://cekirgeler.com/yarismalar/cryptomath/" target="_blank">https://cekirgeler.com/yarismalar/cryptomath/</a></p>
                    </div>
                  </div>
            <div>
            
        </div>
    </div>

    <div  class="col-sm-12">
        <div  class="card mb-6" >
            <div class="row">
                <div  class="col-sm-4">
                    <img src="assets/img/exams/yarisma10.jpg" class="card-img-top">
                </div>
                <div class="card-body col-sm-8" >
                    <div class="container mt-5">
                        <h2>Akdeniz Üniversitesi Ulusal Antalya Matematik Olimpiyatı</h2>
                        <p>Akdeniz Üniversitesi, matematik olimpiyatlarına büyük önem vererek, bu yarışmaların lise öğrencileriyle üniversite arasında bilimsel bağlar kurmaya yardımcı olduğuna inanmaktadır. Bu olimpiyatların başlıca amaçları matematiği sevdirmek, yetenekli öğrencileri erken keşfetmek ve onları ödüllendirmektir. Üstün yetenekli öğrencilerin matematik yeteneklerini göstermelerine olanak tanır ve bu alanda az sayıda olan bilimsel olimpiyatlar arasında yer almaktadır.  </p>
                            <p>Yarışmaya ortaokul ve lise öğrencileri katılabilmektedir.

                                
                            </p>
                                <p><a href="https://matolimp.akdeniz.edu.tr/tr" target="_blank">https://matolimp.akdeniz.edu.tr/tr</a></p>
                    </div>
                  </div>
            <div>
            
        </div>
    </div>

</div>
</div>

